.home-page{

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins';
    }
    
  
    
    .sec-tit-projeto {
        background: rgb(227, 226, 226);
        background: linear-gradient(180deg, rgba(0, 161, 252, 1) 0%, rgba(95, 192, 246, 1) 50%, rgba(158, 216, 247, 1) 100%);
        /* background: linear-gradient(180deg, rgba(0, 161, 252, 1) 0%, rgba(95, 192, 246, 1) 65%, rgb(255 255 255) 100%); */
        height: 60vh;
    }
    
    .sec-tit-projeto .fundo-titulo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .sec-tit-projeto .fundo-titulo h1 {
        font-size: 72px;
        font-style: italic;
        font-weight: bold;
        color: #ffffff;
    }
    
    .sec-problema {
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    
    .sec-problema h2 {
        margin: 2% 0;
        font-size: 28px;
    }
    
    .sec-problema .div-problema {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: justify;
    }
    
    .div-problema div {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .div-problema p {
        width: 60%;
        text-indent: 10%;
    }
    
    .div-problema .div-imgs-texto .imgs-textos {
        width: 150px;
        height: 150px;
    }
    
    .sec-fluxo {
        /* background-color: #f7f7f7; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .div-fluxo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .div-fluxo img {
        margin: 1%;
        border-radius: 20px;
        border: 1px solid;
    }
    
    footer {
        background-color: #0075b7;
    }
    
    footer .div-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .div-footer div {
        width: calc(100% / 3);
    }
    
    .div-footer .menu-footer ul {
        list-style: none;
    }
    
    .div-footer .menu-footer a {
        color: #cecece;
        font-size: 14px;
        transition: 0.5s;
    }
    
    .div-footer .menu-footer a:hover {
        color: #ffffff;
        padding-left: 5px;
        transition: 0.5s;
    }
    
    .div-footer .titulo-footer {
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 20px;
    }
    
    .titulo-footer a {
        color: #ffffff;
    }

    .sec-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(78 153 195);;
        background: linear-gradient(180deg,  rgba(0, 161, 252, 1) 0%, rgba(95, 192, 246, 1) 50%, rgba(158, 216, 247, 1) 100%);
        padding-bottom: 5%;
    }
    
    .sec-form .div-form {
        width: 25%;
        height: 80vh;
        padding: 1%;
        border: 1px solid #c7c4c4;
        border-radius: 20px;
        box-shadow: -2px 4px 8px #4e4e4e;
        background-color: #fdfdfd;
    }
    
    .div-form form {
        width: 100%;
    }
    
    .div-form input {
        width: 70%;
        padding: 2px;
        margin: 2%;
        border: 0;
        border-bottom: 1px solid #c7c4c4;
    }
    
    form .elementos-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    form .inpt-alteracoes {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
    }
    
    form input[type="radio"] {
        width: auto;	
    }
    
    form input[type="submit"] {
        cursor: pointer;
    }
    
    form textarea {
        width: 70%;
        height: 50px;
        resize: vertical;
    }
    
    form .btn-enviar {
        width: 40%;
        height: 30px;
        background-color: #000000;
        color: #ffffff;
        border-radius: 7px;
    }

    .sec-tit-projeto {
        background: rgb(227, 226, 226);	
        background: linear-gradient(180deg, rgba(0, 161, 252, 1) 0%, rgba(95, 192, 246, 1) 50%, rgba(158, 216, 247, 1) 100%);
        /* background: linear-gradient(180deg, rgba(0, 161, 252, 1) 0%, rgba(95, 192, 246, 1) 65%, rgb(255 255 255) 100%); */
        height: 60vh;
    }
    
    .sec-tit-projeto .fundo-titulo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .sec-tit-projeto .fundo-titulo h1 {
        font-size: 72px;
        font-style: italic;
        font-weight: bold;
        color: #ffffff;
    }
    
    
    .sec-cards {
        background-color: #f8f8f8;
        width: 100%;
        height: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sec-cards h2 {
        font-size: 36px;
    }
    
    .div-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .card-pessoal {
        background: #fff;
        width: 240px;
        max-width: 370px;
        margin-top: 2%;
        padding: 25px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    
        border-radius: 24px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .card-pessoal::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 40%;
        width: 100%;
        border-radius: 24px 24px 0 0;
        background-color: #4070f4;
    }
    
    .dani::before {
        background-color: #8fd798;
    }
    
    .edu::before {
        /* background-color: #0a66c2; */
        background-color: #2e4f72;
    }
    
    .marcos::before {
        background-color: #01004e;
    }
    
    .marcela::before {
        background-color: #b0e3ef;
    }
    
    .nat::before {
        background-color: #fd9fc3;
    }
    
    .image {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: #ffffff;
        margin-bottom: 10px;
    }
    
    .image .imagem-pessoal {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    
    .card-pessoal .texto-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #333;
    }
    
    .texto-infos .nome {
        font-size: 22px;
        font-weight: 500;
    }
    
    .texto-infos .RM {
        font-size: 15px;
        font-weight: 400;
    }

    .repositorio {
        margin-top: 2%;
    }
    
    footer {
        background-color: #0075b7;
    }
    
    footer .div-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .div-footer div {
        width: calc(100% / 3);
    }
    
    .div-footer .menu-footer ul {
        list-style: none;
    }
    
    .div-footer .menu-footer a {
        color: #cecece;
        font-size: 14px;
        transition: 0.5s;
    }
    
    .div-footer .menu-footer a:hover {
        color: #ffffff;
        padding-left: 5px;
        transition: 0.5s;
    }
    
    .div-footer .titulo-footer {
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 20px;
    }
    
    .titulo-footer a {
        color: #ffffff;
    }
}